body {
    /* width: 100%; */
    margin: 0px;
    padding: 0px;
    background: lightblue;
    position: absolute;
}

ul {
    list-style: none;
}

#map-section {
    margin: 0px;
    width: 1300px;
    height: 2000px;
    text-align: center;
    background-image: url('../assets/map-westeros.jpg');
    background-repeat: no-repeat;
    /* position: relative;  */
}

a {
    border: 1px solid black;
    width: 8px;
    height: 8px;
    text-align: center;
    background: red;
    font-size: 0px;
    padding: 3px;
    border-radius: 23px;
    box-shadow: 1px 2px 10px 12px;
    transition: 1.2s;
}

a:hover {
    margin: auto;
    perspective-origin: 50% 50%;
    height: 35px;
    width: 35px;
    background: lime;
    display: flex;
    justify-content: center;
    font-size: 9px;
    padding: 9px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    transform: scale(3.5);

}
